body{
  background-color: #87CEFF;
}
.canvas-outer{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
#graphics{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}