.app{
  border-radius: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px;
  display: inline-block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 60px;
  font-size: 0;
  box-shadow: 0 0 30px #AEEEEE;
}
.box{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100%;
  font-size: 0;
  transition: all 10s;
  box-shadow: 0 0 20px #FFFFFF;
}
.awards{
  transform-origin: right bottom;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  box-shadow: 0 0 6px #FFFFFF;
}
.text{
  width: 100%;
  color: #1A1A1A;
  font-size: 30px;
  position: absolute;
  top: 72%;
  left: 72%;
  text-align: center;
  transform-origin: center center;
  margin: 0;
}
.text span{
  display: block;
}
.pointer{
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -94px 0 0 -60px;
  transform: rotate(180deg);
  background: url('./images/icon_pointer.png') no-repeat center center / 120px 120px;
  z-index: 10;
  transform-origin: center center;
  cursor: pointer;
}